
<section id='rightWindow'>
		<a href=''><div id='adContainer'><img class='adImage' src='/files/ad-space.jpg'></div></a>
		<a href=''><div id='adContainer'><img class='adImage' src='/files/ad-space.jpg'></div></a>
		<a href=''><div id='adContainer'><img class='adImage' src='/files/ad-space.jpg'></div></a>	
</section>