<title><%= page %></title>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>

<link rel='stylesheet' href='/style/style.css'>
<link href='https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet'>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
