
<nav id="sideBar">
	<ul id="navLinks">
		<li><a href="http://localhost:8080/blog"><img class="link" src="/files/MENU/blog.png"><img class="hoverIcon" src="/files/hexagon.png"></a></li>
		<li><a href="http://localhost:8080/threads"><img class="link" src="/files/MENU/Threads.png"><img class="hoverIcon" src="/files/hexagon.png"></a></li>
		<li><a href="http://localhost:8080/users"><img class="link" src="/files/MENU/Friends.png"><img class="hoverIcon" src="/files/hexagon.png"></a></li>
		<li><a href="http://localhost:8080/therapists"><img class="link" src="/files/MENU/Therapists.png"><img class="hoverIcon" src="/files/hexagon.png"></a></li>
	</ul>
</nav>














