
<nav id='sideBar'>
	<ul id='navLinks'>
		<li><a href='https://open-up-app.herokuapp.com/blog'><img class='link' src='/files/MENU/Blog.png' alt='Blog Redirect'><img class='hoverIcon' src='/files/hexagon.png'></a></li>
		<li><a href='https://open-up-app.herokuapp.com/threads'><img class='link' src='/files/MENU/Threads.png' alt='Threads Redirect'><img class='hoverIcon' src='/files/hexagon.png'></a></li>
		<!-- FULL APP FEATURE -->
		<!--<li><a href="http://localhost:8080/users"><img class="link" src="/files/MENU/Friends.png"><img class="hoverIcon" src="/files/hexagon.png"></a></li>-->
		<li><a href='https://open-up-app.herokuapp.com/therapists'><img class='link' src='/files/MENU/Therapists.png' alt='Therapists Redirect'><img class='hoverIcon' src='/files/hexagon.png'></a></li>
	</ul>
</nav>














