/*GLOBAL */
* {
	box-sizing: border-box;
	margin: 0;
	
	font-family: 'Nunito', sans-serif;
	
}


html, body {
	overflow: hidden;
}


body.noScroll {
	overflow: hidden;
}


/* HEADER/MENU */
header {
	height: 70px;
	z-index: 1; 
}


body {
	color: white;
	background-color: rgb(141,158,143);
}


#navLinks {
	list-style: none;
	position: fixed;
	top: 125px;
	left: -30px;
}


.link {
	width: 100px;
	box-sizing: border-box;
	float: left;
}


.link:hover ~ .hoverIcon {
	visibility: visible;	
}


.hoverIcon {
	height: 20px;
	float: right;
	visibility: hidden;
}


.link:hover {
	border-bottom: solid 2px white;
	width: 140px;
}


/*--------------------------------------------*/


p { text-indent: 2em;
	font-size: 18px;
	line-height: 30px;
	font-weight: 300;
	letter-spacing: 1.5px;

}


.postRegards {
	font-weight: 400;
}

.tab { margin-left: 40px; }


main {
	margin-left: 200px;
}


#feed {
	width: 80%;
	padding: 20px;
	border-radius: 13px;
	background-color: rgb(95,107,96);
	margin-bottom: 20px;
	float: left;
	border-left: rgb(118,122,118) 7px solid;
	border-bottom: rgb(118,122,118) 7px solid;
	height: 600px;
	overflow: scroll;
}


.userThumbnail {
	width: 15%;
}


.profilePhoto {
	width: 100px;
}


.post {
	margin-top: 15px;
}


#statusUpdate{
	max-width: 80%%;
	background: white;
	border-radius: 13px;
	padding: 20px;
	color: black;
}


#rightWindow {
	width: 18%;
	height: 600px;
	border-radius: 20px;
	background-color: rgb(95,107,96);
	float: right;
	border-left: rgb(118,122,118) 7px solid;
	border-bottom: rgb(118,122,118) 7px solid;
}


.postImage {
	width: 100%;
	padding: 20px;
}


.postTitle{
	font-size: 45px;
}


#blogPost {
	background-color: white;
	100%;
	border-radius: 13px;
	margin:10px 0px;
	color: black;
	text-align: left
}


.postContent {
	padding:30px;
}


.postTime {
	text-align: right;
	padding: 10px;
}


.category {
	height: 50px;
	border: 1px solid black;
	
}


.therapistsPhoto {
	height: 200px;
}


.crop {
	height: 200px;
	width: 200px;
	overflow: hidden;

}


.therapistsCard {
	display: inline-block;
	margin:30px;
	width: 25%;
}


.hexagonone {
	height: 200px;
	position: fixed;
	left: 100px;
	top: 40px;
}


.hexagontwo {
	height: 225px;
	right: 20px;
	top:80px;
	position: absolute;
}


.hexagonthree {
	height: 250px;
	position: absolute;
	right:20px;
	bottom: -10px;
}


.logo {
	height: 100px;
	margin: 10px 0px 0px 10px;
	position: fixed;
	z-index: 1; 
}


.facebook {
	position: fixed;
	width: 135px;
	left:100px;
}


#sideBar {
	height: 100%;
	top: 70px;
	width: 200px; /* Set the width of the sidebar */
  	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  	left: 0;
  	background-color: #111; /* Black */
  	overflow-x: hidden; /* Disable horizontal scroll */
  	padding-top: 20px;
	background-color: rgb(141,158,143);
}


.userCard {
	float:left;
	padding: 30px;
	width: 25%;
	text-align: center;
}


#friends {
	width: 75%;
	padding: 20px;
	border-radius: 13px;
	background-color: rgb(95,107,96);
	margin-bottom: 20px;
	float: left;
	height: 600px;
	overflow: scroll;
}


.postUpdate {
	height:20px;
	position: relative;
	top: 40px;
	left: 700px;
}


#threadContainer {
	margin-top: 10px;
	width: 100%;
	color: white;
	background-color: rgb(95,107,96);
	border-top-left-radius: 20px;
    vertical-align: middle;
}


#threadsList, #therapists, #profile{
	width: 80%;
	background-color: rgb(95,107,96);
	height: 600px;
	border-left: rgb(118,122,118) 7px solid;
	border-bottom: rgb(118,122,118) 7px solid;
	border-radius: 13px;
	overflow: scroll;
	float: left;
}


#profile {
	text-align: center;
	
}


.threadButton {
	width: 100%;
	font-size: 25px;
	color: white;
 	background: rgb(76,82,76);
	border: 1px rgb(118,122,118) solid;
	text-align: left;
	border-left: none;
	border-top: none;
	padding: 10px;
	font-size: 30px;
	font-weight: bold
}


.thread {
	width: 95%%;
	font-size: 20px;
	color: white;
 	background: rgb(76,82,76);
	border: 1px rgb(118,122,118) solid;
	border-bottom: 3px rgb(118,122,118) solid;
	list-style: none;
	padding: 5px;
	margin-left: 5%;
}


.openIcon {
	height:50px;
	float: right;
	text-align: right;
}


.hidden{
	display: none;
}


#adContainer {
	background-color: darkgrey;
	margin: 10px;
	height: 31%;
	border-radius: 13px;
}


.adImage {
	height: 100%;
	border-radius: 13px;
}


.pageTitle {
	height: 20px;
	position: fixed;
	left: 215px;
	top: 50px;
}


#profile {
	padding: 20px;
}


#postInteraction{
	background-color: rgb(51,51,51);
	border-bottom-right-radius: 13px;
	border-bottom-left-radius: 13px;
	width:100px;
	padding: 4px;
	margin-left: 20px;
}


#postButtons {
	height: 17px;
	margin-left:10px;
}


input, button {
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
}


.subTitle {
	color:rgb(170,180,170);
}


.threadTitle {
	display: inline-block;
}


a {
    text-decoration: none !important;
}


.initPostTitle{
	text-align: center;
}


.openUp {
	font-size: 30px;
}


.init{
	border: 4px rgb(170,180,170) solid;
	padding: 30px;
	border-radius: 13px;
}


#login {
	color: rgb(141,158,143);
	height: 225px;
	width: 200px;
	background-color: white;
	margin-right: auto;
	margin-left: auto;
	border-radius: 13px;
	padding: 20px;
	margin-top: 250px;
}


#signup {
	color: rgb(141,158,143);
	height: 225px;
	width: 200px;
	background-color: white;
	margin-right: auto;
	margin-left: auto;
	border-radius: 13px;
	padding: 20px;
	margin-top: 250px;
}


#logout{
	position:  absolute;
	top: 45px;
	right:50px;
	color: white;
	font-size: 15px;
}


#signup-username {
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	padding: 4px;
	font-size: 15px;
}


#input-username {
	position: absolute;
	left: 50%;
    transform: translate(-50%, 0);
	top: 40%;
	color: rgb(141,158,143);
	width: 250px;
	background-color: white;
	border-radius: 13px;
	padding: 20px;
}

.postTime {
	font-size: 10px;
}


.post {
	margin-bottom: 10px;
}


/* Tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
}


/* Tooltip text */
.tooltip .tooltiptext {
 	visibility: hidden;
  	width: 120px;
 	background-color: #555;
  	color: #fff;
  	text-align: center;
  	padding: 5px 0;
  	border-radius: 6px;

  	/* Position the tooltip text */
  	position: absolute;
  	z-index: 1;
  	bottom: 125%;
  	left: 50%;
  	margin-left: -60px;

  	/* Fade in tooltip */
  	opacity: 0;
  	transition: opacity 0.3s;
}


/* Tooltip arrow */
.tooltip .tooltiptext::after {
  	content: "";
  	position: absolute;
  	top: 100%;
  	left: 50%;
  	margin-left: -5px;
  	border-width: 5px;
  	border-style: solid;
  	border-color: #555 transparent transparent transparent;
}


/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  	visibility: visible;
  	opacity: 1;
}