
<!DOCTYPE html>
<html lang='en'>
	<head>
 		<% include partials/head %> 
	</head>
    <body>
		<header>
		<% include partials/header %>
		<img class='pageTitle' src='/files/MENU/Blog.png'>
		<a href='https://open-up-app.herokuapp.com/' class='grey-text' id='logout'>Logout</a>
		</header>
		<% include partials/menu %>
		<main role='main'>
			<section id='feed'>
				<% for(let i=0; i < post.length; i++) {%>
				<h2 class='postTitle'><%=post[i].title %></h2>	
				<div id='blogPost'>					
					<img class='postImage' src='<%= post[i].image %>'>
					<p class="tab"></p><p class='postContent'><%= post[i].content %></p> 
					<p class='postTime'><%= post[i].publishedAt %></p>
				</div>
    			<% } %>
			</section>
		<% include partials/ads %>
		</main>
		<% include partials/script %>
    </body>
</html>