<!DOCTYPE html>
<html lang='en'>
	<head>
 		<% include partials/head %> 
	</head>
    <body>
	<% include partials/header %>
		<img class='hexagonone' src='/files/hex-left.png' alt='1 in 4 people deal with mental health disorders'>
		<img class='hexagontwo' src='/files/hex-middle.png' alt='Most dont have a safe space or anyone to talk to'>
		<div id='login'>
			<div>
    			<h4>Login</h4><br />
      			<form id='login-form'>
        			<div class='input-field'>
          				<label for='login-email'>Email address</label>
          				<input type='email' value='openupdemo@gmail.com' id='login-email' required />
        			</div>
        			<div class='input-field'>
						<label for='login-password'>Your password</label>
          				<input type='password' value='openup123' id='login-password' required />
        			</div>
        			<button class='btn yellow darken-2 z-depth-0'>Login</button>
      			</form>
    		</div>
			<button class='signUpLink'>Sign up</button>
		</div>
		<div id='signup' class='hidden'>
    		<div>
    			<h4>Sign up</h4><br />
				<form id='signup-form'>
        			<div class='input-field'>
          				<label for='signup-email'>Email address</label>
          				<input type='email' id='signup-email' required />
        			</div>
        			<div class='input-field'>
          				<label for='signup-password'>Choose password</label>
          				<input type='password' id='signup-password' required />
        			</div>
        			<button class='btn yellow darken-2 z-depth-0'>Sign up</button>
      			</form>
    		</div>
  		</div>
		<img class='hexagonthree' src='/files/hex-right.png' alt='Lets create that space'>
		<% include partials/script %>
	</body>
</html>
