<!DOCTYPE html>
<html lang="en">
	<head>
 		<% include partials/head %> 
		
	</head>
    <body>
		<a href="http://localhost:8080/home"><img class="logo" src="/files/logo.png"></a>
		<a href=""><img class="facebook" src="/files/login-button-png-18039.png"></a>
		<img class="hexagon-one" src="/files/hex-left.png">
		<img class="hexagon-two" src="/files/hex-middle.png">
		<img class="hexagon-three" src="/files/hex-right.png">
		
		<% include partials/script %>
		
		<script type="text/javascript" src="/js/auth.js"></script>
    </body>
</html>