
<!DOCTYPE html>
<html lang='en'>
	<head>
 		<% include partials/head %> 
	</head>
    <body>
		<header role='banner'>
		<% include partials/header %>
		<img class='pageTitle' src='/files/MENU/Therapists.png' alt='Therapists Page'>
		<a href='https://open-up-app.herokuapp.com/' class='grey-text' id='logout'>Logout</a>	
		</header>
		<% include partials/menu %>
		<main role='main'>
			<section id='therapists'>
				<div id="overlay">
				<h1 class="comingSoon">THERAPISTS AVAILABLE SOON</h1>
				</div> 
				<% mockTherapists.forEach(function(therapists){ %>
				<div class='therapistsCard'>
					<span class='therapistName'><%=`${therapists.firstName} ${therapists.lastName}` %></span>
					<div class='crop'>
						<img class='therapistsPhoto' src='<%= therapists.profilePhoto%>' alt='Therapist Image'>
					</div>
					<div class="therapistInfo">
					<span class='specs'><%= therapists.specializations%></span>
					</div>
				</div>
    			<% }) %>
			</section>
			<% include partials/ads %>
		</main>
		<% include partials/script %>
    </body>
</html>