
<!DOCTYPE html>
<html lang="en">
	<head>
 		<% include partials/head %> 
	</head>
    <body>
		<header>
		<% include partials/header %>
		<img class="pageTitle" src="/files/MENU/Therapists.png">
		</header>
		<% include partials/menu %>
		<main>
			<section id="therapists">
				<% mockTherapists.forEach(function(therapists){ %>
				<div class="therapistsCard">
				<p ><%= therapists.name %></p>
				<img class="therapistsPhoto" src="<%= therapists.image %>">
				<p ><%= therapists.bio %></p> 
				</div>
    			<% }) %>
			</section>
			
			<% include partials/ads %>
		</main>
		<% include partials/script %>
    </body>
</html>