
<!DOCTYPE html>
<html lang="en">
	<head>
 		<% include partials/head %> 
	</head>
    <body>
		<header>
		<% include partials/header %>
		</header>
		<% include partials/menu %>
		<main role="main">
			<div id="profile">
				<div >
					<img class="profilePhoto" src="<%=mockFriends[0].profilePhoto %>">
				</div>
				<h1 class="userName"><%=mockFriends[0].userName %></h1>
				<div id="statusUpdate">
					<p class="postContent"><%=mockFriends[0].posts.text %></p> 
					<p class="postTime"><%= mockFriends[0].posts.text.publishedAt %></p>
				</div>
				
			</div>
		</main>
		<% include partials/script %>
    </body>
</html>